<!--suppress ALL -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>COSCASH</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-fab right bottom>
    <button ion-fab color="secondary">
      <ion-icon name="ios-add-outline"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab color="secondary" (click)="sendMoney()"><ion-icon name="ios-send-outline"></ion-icon></button>
      <button ion-fab color="secondary" (click)="showQR()"><ion-icon name="ios-flash-outline"></ion-icon></button>
      <button ion-fab color="secondary" (click)="scanQR()"><ion-icon name="ios-qr-scanner-outline"></ion-icon></button>
    </ion-fab-list>  
  </ion-fab>
  <ion-list>
    <ion-item detail-none text-wrap color="primary" class="center no-label-margin" style="margin-bottom:-1px;">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="center-child">
            <img src="assets/img/pp.jpg" alt="" height="100px" width="100px" style="border-radius: 50%">
          </ion-col>
          <ion-col col-12 class="center-child">
            <div class="bold large"> Vianney Ng </div>
          </ion-col>
          <ion-col col-12 class="center-child">
            <div class="small">
              <ion-badge color="secondary"> 0x1940753DfbFcb64D39e2d610 </ion-badge>
            </div>
          </ion-col>
          <ion-col col-12 class="center-child">
            <div class="small"> 240 Amani </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-spinner name="bubbles"></ion-spinner>
    
    <ion-list-header color="light">TRANSACTIONS </ion-list-header>
    <button ion-item detail-none text-wrap *ngFor="let transaction of Transactions; let i = index" (click)="transactionClicked(transaction)">
      <img src="assets/img/default.png" item-left style="max-width: 12%">
      <div class="small">{{transaction.createdAt}}</div>
      <p class="bold" ion-text color="text2">{{transaction.Art}}</p>
      <p class="medium bold" ion-text color="text2" item-right>
        {{transaction.Amount}} </p>
    </button>
    <ion-item detail-none class="center" style="border-bottom:none;" text-wrap *ngIf="Transactions.length == 0;">
      <i>No transaction history</i>
    </ion-item>
  </ion-list>
</ion-content>